<div [hidden]="user">
    <h1>BBVA Super clean ATM</h1>
  
    <input type="hidden" [(ngModel)]="phoneNumber.country"  class="input" placeholder="52"    maxlength="2" value="">
    <input type="hidden" [(ngModel)]="phoneNumber.area"     class="input" placeholder="55"  maxlength="3" value="">
    <label for="phone">Teléfonor</label><br>
    <input type="text" [(ngModel)]="phoneNumber.line"     class="input" placeholder="52553332250925" maxlength="14">
  
    <div id="recaptcha"></div>
  
    <button type="button" (click)="sendLoginCode()" class="waves-effect waves-light btn">Ingresar</button>
  
    <div *ngIf="windowRef.confirmationResult">
      <hr>
      <label for="code">Codigo de verificación</label><br>
      <input type="text" name="code" [(ngModel)]="verificationCode">
  
      <button type="button" (click)="verifyLoginCode()" class="waves-effect waves-light btn">Verificar</button>
    </div>

    
  </div>
  
  <div [hidden]="!user">
    You have successfully logged in with your phone number!
  
    UserId: {{ user?.uid }}

    <button class="waves-effect waves-light btn" (click)="logOut()">Log Out</button>
  </div>